# The ID of your GitHub App
APP_ID=56869
WEBHOOK_SECRET=5ab92c5ac88011c604f96e6489c0135dc5261b75

# Use `trace` to get verbose logging or `info` to show less
LOG_LEVEL=debug

# Go to https://smee.io/new set this to the URL that you are redirected to.
WEBHOOK_PROXY_URL=https://smee.io/NsD9AcRpbRlpgnlw
